@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #f7f7f7;
  font-family: 'Lunasima', sans-serif;
}

*:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,

.disable-webkit {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}